.cell {
  background-color: #1990ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  margin: 1px;
}

.disk {
  height: 85%;
  width: 85%;
  border-radius: 100px;
}

@media(min-width: 600px) {
  .disk {
    height: 85%;
    width: 85%;
    border-radius: 100px;
  }
}
