.cell {
  height: 70px;
  width: 70px;
  background-color: #1990ff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1px;
}

.disk {
  height: 60px;
  width: 60px;
  border-radius: 100px;
}

/*
Animations
*/
.da5 {
  animation-name: drop5;
  animation-duration: 1s;
}

@keyframes drop5 {
  0% {
    transform: translateY(-420px);
  }
  100% {
    transform: translateY(0px);
  }
}
