.dropBar {
    height: 80px;
    display: flex;
    align-items: center;
    width: 495px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: solid 4px  #1990ff;
    border-right: solid 4px  #1990ff;
    border-left: solid 4px  #1990ff;
    border-bottom: 1px  #1990ff;
    cursor: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dropDisk {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

@media(max-width: 400px) {
  .dropBar {
    display: none;
  }
}