.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.startContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
