.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Grid {
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
}

.disk {
  margin: 2px 2px;
  width: 70px;
  height: 70px;
  border-radius: 25px;
}

.empty {
  background-color: white;
}

.playerOne {
  background-color: red;
}

.playerTwo {
  background-color: yellow;
}